* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 10px;
}

.form {
    display: flex;
    align-items: center;
    margin: 30px;
}

label {
    margin: 10px;
    font-size: xx-large;
}


.form input {
    margin: 10px;
    height: 30px;
    widows: 200px;
}

.resultado th {
    height: 30px;
    width: 150px;
    color: white;
    background-color: red;
}

.resultado td {
    height: 30px;
    width: 150px;
    color: white;
    background-color: grey;
    text-align: center;
}

.resultado input {
    height: 15px;
    width: 110px;
    margin-bottom: 5px;
}

.resultado .priceFilter {
    width: 70px;
}